/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/барохло
/public/assets
/public/product_imgs
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
